html{
  scroll-behavior: smooth;
 
}
body{
  background-color: darkorange;
  font-family: 'Permanent Marker', cursive;
}
nav{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}
.landing{
  background-image: url("../images/pizzeria.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  height: 580px;
  padding-bottom: 20px;
  position: relative;
  overflow-x: hidden;
}
h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  color: green;
  text-shadow: 10px 10px black;
  margin-top: 150px;
}
h5{
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}



.btn{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}
.empty{
  background-color: darkorange;
}
.d-flex{
  display: flex;
}
#about-us{
  background-color: darkorange;
}
h3{
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
}
p{
  font-family: 'Permanent Marker', cursive;
  color: antiquewhite;
  font-size: 20px;
}
.order-overlay{
  background-color: darkorange;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 18px;
  padding-left: 18px;
}
.overlay{
  background-color: whitesmoke;
  color: antiquewhite;
  
}
label{
  font-family: 'Permanent Marker', cursive;
}
h2{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
#number{
  font-family: 'Permanent Marker', cursive;
}
.contacts{
  background-color: darkorange;
  margin-bottom: 5%;
  padding-bottom: 18px;
}
.card-title{
  text-align: center;
  color: green;
  font-weight: 800;
}
.controls-top h2{
  color: rgb(5, 172, 5);
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bolder;
}
.col-md-4{
  border-radius: 10%;
  padding: 10px;
}
#MERGE1{
  background-color: #66000000;
}
#MERGE0{
  background-color: #66000000;
  
}
#message{
  background-color: #66000000;
}
h2{
  color: black;
}
.footer{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}
#checkout{
  background-color: darkorange;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 18px;
  padding-left: 18px;
}
/** Media Queries start **/

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
      height: 1000px;
      overflow-x: hidden;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
      height: 650px;
  }
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
  }

}

/* Media Queries end*/