html{
  scroll-behavior: smooth;
 
}
body{
  background-color: darkorange;
}
nav{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}
.landing{
  background-image: url("../images/pizzeria.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  height: 580px;
  padding-bottom: 20px;
  position: relative;
  overflow-x: hidden;
}
h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  color: green;
  text-shadow: 10px 10px black;
  margin-top: 150px;
}
h5{
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}